
.nav-contaner{
     display: flex;
     flex-direction: column;
     background-color: rgb(245, 243, 245);
     width: 38vh;
     min-height: 100vh;
     
}

.button{
background-color: rgb(151, 61, 236);
width: 85%;
margin-top: 3rem;
margin-bottom: 3rem;
}
.navbar-nav .nav-item .dropdown-menu {
  background-color: transparent !important;  
  border: none !important; 
  box-shadow: none !important;
}


.navbar-nav .nav-item .dropdown-toggle:focus + .dropdown-menu,
.navbar-nav .nav-item .dropdown-menu.show {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}