body {
  background-color: rgba(209, 238, 248, 0.551);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background-image: url('/public/hero-bg.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(91, 155, 176);
}

.header-image {
  width: 100%;
  height: auto;
}

/* Job Card */
.job-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 1rem auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(5, 84, 107, 0.219);
  width: 80%; 
}

.job-logo {
  width: 70px;
  height: 80px;
  object-fit: cover;
}

.job-details {
  flex: 1;
  margin-left: 1rem;
}

.job-company-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.company-name {
  font-size: 15px;
  color: rgb(91, 155, 176);
}

.new-tag,
.featured-tag {
  font-size: 8px;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
}
 
.new-tag {
  background-color: rgb(91, 155, 176);
}

.featured-tag {
 background-color: rgb(44, 42, 42);
}

.job-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.job-info {
  font-size: 14px;
  color: #333;
}

.job-filter-actions {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  background-color: transparent;
  border: none;
  color: rgb(91, 155, 176);
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.filter-btn:hover {
  background-color: rgba(91, 155, 176, 0.2);
}

/* Filter Bar */
.filter-selection-container {
  display: flex;
  width: 50%;
  margin-left: 13rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(209, 238, 248, 0.551);
}

.filter-text {
  font-size: 14px;
  color: #333;
  margin-right: 5px;
}

.remove-filter-btn {
  background-color: rgb(91, 155, 176);
  border: none;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.remove-icon {
  color: white;
}


@media (max-width: 770px) {
  .job-card {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .job-logo {
    margin-bottom: 10px;
  }

  .job-filter-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-selection-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}